@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girassol&family=Poppins:wght@200;300;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700;800&display=swap');

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

* {

  font-family: "Manrope", sans-serif;
}

section {
  padding: 3.9rem 0;
}

.section-padding-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-padding-100-0 {
  padding-top: 100px;
  padding-bottom: 0;
}

.section-padding-0-100 {
  padding-top: 0;
  padding-bottom: 100px;
}

.section-padding-100-70 {
  padding-top: 100px;
  padding-bottom: 70px;
}

/* Custom CSS for a Bootstrap-like container */

/* Container Styles */
.custom_container {
  width: 90%;
  /* Adjust the width as needed */
  max-width: 1200px;
  /* Adjust the max-width as needed */
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* Optional: Add responsive padding or other styles */
@media (min-width: 576px) {
  .custom_container {
    max-width: 100%;
  }
}

/* Optional: Customize container styles further for different breakpoints */
@media (min-width: 768px) {
  .custom_container {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .custom_container {
    max-width: 90%;
  }
}

@media (min-width: 1200px) {
  .custom_container {
    max-width: 70%;
  }
}

/* end custom configs */

/* END: search manufacturer styles */
/* Navbar */
.bg-custom {
  background: #f0f1f0;
}

.bg-cont {
  background: #cb8547;
}

.btn-andego {
  background: #cb8547;
}

.andego_span {
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
}

.navbg {
  background: #c5c490;
}

.andego a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
}

.andego a:hover {
  text-decoration: none;
}

.contact {
  background: url(/hero.jpg), linear-gradient(to right, #393929, #cb8547) center no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
}

.contact_info {
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-weight: 900;
  text-align: center;
}

.contact_info .contact_number {
  color: coral;
  font-weight: 800;
}

/* our team names */
.teamName {
  font-family: 'Girassol';
}

.prof-name {
  font-family: 'Girassol';
  line-height: 0;
}

.prof-title {
  line-height: 0.5;
}

.bg-special {
  width: 100%;
  background: url(/nairobi1.jpg), linear-gradient(to right, #393929, #000000c0) center no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;

}



/* Hero styling */
.hero {
  background: url(/nairobi1.jpg), linear-gradient(to right, #393929, #00000022) center no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  position: relative;
  background-attachment: fixed;
}


@media (max-width: 768px) {
  .hero {
    background: url(/nairobi1.jpg), linear-gradient(to right, #393929, #00000096) center no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    position: relative;
    background-attachment: fixed;
  }
}

/* Maintenance */
.body {
  width: 100%;
  height: 100vh;
  background: #cb8547;
}

.heading {
  font-family: 'Nunito', sans-serif;
}

/* cards */
.cards_hero {
  background: #cb8547;

}


.cards_h2 {
  color: white;
  font-weight: 900;
}


/* ABOUT  */
.about_h_home {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.about_welcome {
  font-family: 'Montserrat';
  line-height: 2em;
}

.about_p {
  font-family: 'Girassol family';
}

.about_signature {
  font-size: 2em;
  font-family: 'Great Vibes', sans-serif;
}

.call {
  background: url('/andego/group.jpg'), linear-gradient(to bottom, #c5a790, #534444);
  background-position: center;
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
}

/* why choose us section */
.choose_us {
  background: #cb8547;
  width: 100%;
  height: auto;
}

/* appointment section */
.appoint_box {
  background: #cb8547;
  height: auto;
}

.book_title {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
}

/* about */
.about {
  background: url('/andego/group.jpg'), linear-gradient(to right, #c5c490, #020101, #cb8547);
  background-position: center;
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
}

.about_title {
  font-family: 'Girassol', sans-serif;
}

/* other */
.practice_areas {
  background: #cb8547;
  height: auto;
  width: auto;
}

.features {
  background: #cb8547;
  height: auto;
  width: auto;
}

.cards_services {
  background: #c5c490;
  height: auto;
  width: auto;
  box-shadow: rgb(30, 59, 90) 0px 20px 30px -10px;
}

.services_title {
  color: white;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.services_what {
  font-size: 1.5em;
  font-weight: 400;
}

.services_what::before {
  content: '__';
  font-weight: bold;
  margin-right: 1em;

}

.services_what::after {
  content: '__';
  font-weight: bold;
  margin-left: 1em;
}

.practice_h2 {
  color: white;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5em;

}

.about_button {
  font-family: 'Nunito', sans-serif;
  align-items: center;
  background-image: linear-gradient(144deg, #ffffff, #ffffff 50%, #c5c490);
  border: 0;
  border-radius: 18px;
  box-shadow: rgba(4, 213, 255, 0.461) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  line-height: 1em;
  max-width: 20%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.about_button:active,
.about_button:hover {
  outline: 0;
  text-decoration: none;
  color: white;
}

@media (max-width: 640px) {
  .about_button {
    font-size: 14px;
    min-width: 180px;
  }
}